html, body {
    background-color: #131313;
}

.main_title h1 {
    font-size: 4rem;
    background-color: #8f8888;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}